@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  scrollbar-color: #1f1f1f; /* For Firefox */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-gutter: stable; /* Prevent layout shift */
}
::-webkit-scrollbar {
  width: 12px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 8px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.fade-top {
  background: linear-gradient(to bottom, #000000, transparent);
}

.fade-bottom {
  background: linear-gradient(to top, #141414, transparent);
}

.section-gradient{
  background: linear-gradient(
    90deg,
    #000000 2%,
    hsla(0, 0%, 6%, 0.97) 16%,
    hsla(0, 42%, 9%, 0.91) 28%,
    rgba(229, 0, 0, 0.101) 100%
  );
}
.section-margins{
  margin-top: 15vh;
  margin-left: 6vw;
  margin-right: 6vw;
   margin-bottom: 15vh;
}

/* Custom CSS for PhoneInput */

.phone-input .PhoneInputInput {
  background-color: transparent; /* Tailwind's gray-800 */
  padding: 0.75rem;
  border-radius: 0.375rem;
  outline: none;
  height: fit-content;
}

.phone-input .PhoneInputCountry {
  padding-right: 0.5rem;
  border-right: 1px solid rgba(128, 128, 128, 0.222)
}


.phone-input {
  background-color: #141414;
}

.phone-input .PhoneInputInternationalIcon {
  padding-right: 0.5rem;
  color: white;
  background-color: pink;
}

/* .PhoneInputCountry{
  height: 2rem;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Tailwind classes */
.sidebar {
  @apply fixed inset-y-0 left-0 z-50 w-3/4 bg-background transform -translate-x-full transition-transform duration-300 ease-in-out;
}

.sidebar.open {
  @apply translate-x-0;
}
.main-content {
  @apply flex-1 flex flex-col;
}

@media (min-width: 768px) {
  .sidebar {
    @apply relative translate-x-0 w-1/5; /* Sidebar is always visible on desktop */
  }
}


.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%; /* Sidebar spans the full height */
    position: relative;
    overflow-y: auto;
}




.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}